body{
    background-color: #f4f2fa;
}
input, textarea, button, select, svg, img, div, section{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a:focus, a:visited, a:active{outline: none;}
body::-webkit-scrollbar {width: 5px;}
body::-webkit-scrollbar-track {background-color: #fff;}
body::-webkit-scrollbar-thumb {background-color: rgb(15, 23, 42)}
.gridItems::after{
    content: "";
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgb(15, 23, 42);
    z-index: -1;
}
.modalAni{
    animation: growAnimation 0.5s ease forwards;
}
@keyframes growAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
